@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --main-color: #48166C;
    --form-width: 500px;
}

html {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
    background: #EEEEEE;
}

/* obrazy w tle */
[data-img]{
    width: 30vw;
    position: fixed;
    z-index: -1;
}

[data-img="1"]{
    top: 0;
    left: 0;
}
[data-img="2"]{
    bottom: 0;
    right: 0;
}
[data-img="3"]{
    bottom: 0;
    left: 0;
    margin: 20px;
    width: 200px;
}
[data-img="4"]{
    width: 90px;
    bottom: 12px;
    left: 250px;
}




@media (min-width: 0px) and (max-width: 576px) {
    :root{
        --form-width: 90vw;
    }
}