@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    justify-content: center;
}



.customer-info{
    text-align: center;
}

.customer-info p{
    margin-bottom: 80px;
    padding: 0;
    color: #868686;
    font-size: 17px;
    font-weight: 400;
}
.customer-name{
    font-size: 18px;
    font-weight: 500;
}


.main-panel{
    width: 470px;
    padding: 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-panel button{
    color:white;
    border: none;
    margin: 0 10px;
    background-color: var(--main-color);
    padding: 13px 20px;
    border-radius: 30px;
    font-size: 12px;
}
.main-panel button:hover{
    cursor: pointer;
}


.text-s{
    color: var(--main-color);
    font-size: 23px;
    text-align: center;
}

@media (min-width: 0px) and (max-width: 576px) {
    .main-panel{
        width: 90vw;
    }

    body{
        justify-content:flex-start
    }

    .customer-info p{
        margin-top: 15vh;
        margin-bottom: 20px;
    }
}