.container{
    width: var(--form-width);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
    overflow-x: hidden;
}


/* .box{
    width:100%;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

/* .box div > label{
    display: block;
} */

/* .war{
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
} */



.btns-step{
    display: flex;
    align-items: center;
    justify-content: center;
}



[data-pr]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .card .number-box{
    display: flex;
}

.multi-step-form{
    margin-top: 0vh;
    background-color: #4D8748;
    width: var(--form-width);
}

/* animacje */
.card {
	background-color: rgba(255, 255, 255, 0);
	width: var(--form-width);
    border-radius: 5px;
    padding: 20px 0;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    transform: translateX(-50%);
    transition: all 0.4s ease-in-out;
    position: absolute;
}


.card.left{
    transform: translateX(-50%) scale(0.1);
    opacity: 0;
    
}
.card.center{
    transform: translateX(0);
}
.card.right{
    transform: translateX(50%) scale(0.1);
    opacity: 0;
}

.multi-step-form{
    position: relative;
}

.card .btns-step{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.card [data-next],
.card [data-send]
 {
    color:white;
    border: none;
    margin: 0 10px;
    background-color: var(--main-color);
    padding: 13px 20px;
    border-radius: 30px;
    font-size: 0.6rem;
}

.card [data-previous]{
    display: inline-block;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: none;
    z-index: 1;
    position: relative;
    position: relative;
    transition: transform 0.3s;
    mix-blend-mode: screen;
}

.card [data-previous]::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    border-bottom: 2px solid #C5C5C5;
    border-left: 2px solid #C5C5C5;
    transform: translate(-30%, -50%) rotate(45deg);
}




.card button:hover{
    cursor: pointer;
}

.card h4{
    color: var(--main-color);
    font-size: 1.2rem;
    text-align: center;
}

/* send btn */
.send{
    position: fixed;
    bottom: 0;
}

.is-not-validate-info{
    color: red;
    font-size: 0.6rem !important;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    transform: rotateX(90deg);
    transition: all 0.3s;
}

.is-not-validate-info.active{
    transform: rotateX(0deg)
}


/* Progress Bar */

.progress-bar{
    width: 80%;
    height: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #17A8B5 0%,  #17A8B5 50%,  #17A8B5 100%);
    background-color:  #F0D9E2;
    position: relative;
    overflow: hidden;
}
.progress-bar .cover{
    position: absolute;
    right:0;
    width: 100%;
    height: 100%;   
    background:#F0D9E2;
    transition: all 0.3s;
}

/* category name */
.category-name{
    margin-top: 30vh;
    margin-bottom: 20px;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s;
}

.category-name.turn{
    transform: rotateX(90deg);
    opacity: 0;
}




@media (min-width: 0px) and (max-width: 576px) {
    .category-name{
        margin-top: 10vh;
    }

}