.range {
    -webkit-appearance: none;
    width: 200px;
    height: 8px;
    background: linear-gradient(90deg, #17A8B5 50%, #A6D9DE 50%);
    border-radius: 30px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 40px;
  }
  
  .range:hover {
    opacity: 1;
  }
  
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: 7px solid   #DF4171;
    width: 25px;
    height: 25px;
    background: #FFABC5;
    cursor: pointer;
  }
  
  .range::-moz-range-thumb {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #FFABC5;
    cursor: pointer;
  }

.card p{
    text-align: center;
    color: #DF4171;
}