@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
    background: #EEEEEE;
}

/* obrazy w tle */
[data-img]{
    width: 30vw;
    position: fixed;
    z-index: -1;
}

[data-img="1"]{
    top: 0;
    left: 0;
}
[data-img="2"]{
    bottom: 0;
    right: 0;
}

.container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
}



.box{
    width:100%;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box div > label{
    display: block;
}

.war{
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}



.btns-step{
    display: flex;
    align-items: center;
    justify-content: center;
}



[data-pr]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .card .number-box{
    display: flex;
}

.multi-step-form{
    margin-top: 0vh;
    background-color: #4D8748;
    width: 500px;
}

/* animacje */
.card {
	background-color: rgba(255, 255, 255, 0);
	width: 500px;
    border-radius: 5px;
    padding: 20px 0;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    position: absolute;
}


.card.left{
    transform: translateX(-100%) scale(0.5);
    opacity: 0;
    
}
.card.center{
    transform: translateX(0);
}
.card.right{
    transform: translateX(100%) scale(0.5);
    opacity: 0;
}

.multi-step-form{
    position: relative;
}

.card .btns-step{
    /* width: 190px; */
    display: flex;
    justify-content: space-between;
}

.card [data-next],
.card [data-send]
 {
    color:white;
    border: none;
    margin: 0 10px;
    background-color: #48166C;
    padding: 13px 20px;
    border-radius: 30px;
    font-size: 12px;
}

.card [data-previous]{
    display: inline-block;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: none;
    z-index: 1;
    position: relative;
    position: relative;
    transition: transform 0.3s;
    mix-blend-mode: screen;
}

.card [data-previous]::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    border-bottom: 2px solid #C5C5C5;
    border-left: 2px solid #C5C5C5;
    transform: translate(-30%, -50%) rotate(45deg);
}




.card button:hover{
    cursor: pointer;
}

.card h4{
    color:#48166C;
    font-size: 22px;
    text-align: center;
}

/* send btn */
.send{
    position: fixed;
    bottom: 0;
}

.is-not-validate-info{
    color: red;
    font-size: 12px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    transform: rotateX(90deg);
    transition: all 0.3s;
}

.is-not-validate-info.active{
    transform: rotateX(0deg)
}


/* Progress Bar */

.progress-bar{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #17A8B5 0%,  #17A8B5 50%,  #17A8B5 100%);
    background-color:  #F0D9E2;
    position: relative;
    overflow: hidden;
}
.progress-bar .cover{
    position: absolute;
    right:0;
    width: 100%;
    height: 100%;   
    background:#F0D9E2;
    transition: all 0.3s;
}

/* category name */
.category-name{
    margin-top: 30vh;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s;
}

.category-name.turn{
    transform: rotateX(90deg);
    opacity: 0;
}




